<div id="source-page">
    <ul class="fav style-border">
        {{#if sources.length}}
            {{#each sources}}
                <li class='style-border>
                    <a class="link" href="{{this.url}}" target="_blank">{{this.name}}({{this.date}})</a>
                    <p class="des">{{this.des}}</p>
                </li>
            {{/each}}
        {{else}}
            <li class="nothing style-bg">Nothing.</li>
        {{/if}}
    </ul>
    <div class="search-git">
        <div class="loading{{#unless loading}} hide{{/unless}}"><div class="loader-inner ball-scale-multiple"><div></div><div></div><div></div></div></div>
        <div class="search-container style-border">
            <input type="text" contentType="" />
            <div class="dropdown style-border">
                <label>JavaScript</label>
                <ul class="hide">
                    <li>None</li>
                    <li>CSS</li>
                    <li>HTML</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
        <ul class="git-sources style-border"></ul>
    </div>
</div>